<head>
	<meta charset="utf-8">
	<title>{% if blog %}{{ blog.title }}|{{ site.title }} {% else %}{{ site.title }}{% endif %}</title>
	<meta name="keywords" content="{% if blog %}{{ blog.keywords }},{{ site.keywords }}{% else %}{{ site.keywords }}{% endif %}">
	<meta name="description" content="{% if blog %}{{ blog.summary | striptags | replace({'\n': ''}) | slice(0, 140) }}{% else %}{{ site.description }}{% endif %}">
	<meta name="msvalidate.01" content="1C632831D4FA57B1403B5EDCC7BA0896" />
	<link rel="stylesheet" href="{{ site.url }}theme/cube/css/font-awesome.min.css?ver={{ site.version }}">
	<link rel="stylesheet" href="{{ site.url }}theme/cube/css/style.css?ver={{ site.version }}">
	<link rel="stylesheet" href="{{ site.url }}theme/cube/css/style-mobile.css?ver={{ site.version }}">
	<link rel="stylesheet" href="{{ site.url }}theme/cube/css/main.css?ver={{ site.version }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}feed.xml" />
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}favicon-16x16.png">
	<link rel="manifest" href="{{ site.url }}site.webmanifest">
	<link rel="mask-icon" href="{{ site.url }}safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" type="text/css">
    <script type="text/javascript">
		(function(c,l,a,r,i,t,y){
			c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
			t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
			y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
		})(window, document, "clarity", "script", "j1bbc1t0hd");
	</script>
	{% if site.baiduAnalytics %}<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?{{ site.baiduAnalytics }}";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
	{% endif %}
</head>
